#n{
    color: darkolivegreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 10px;

}
#m{
    color: dimgrey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
    font-size: 10px;
    

}
#b{
    color: lawngreen;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    font: size 10px;;


}